//
// Variables
// --------------------------------------------------


$color-base:            #6699cc;
$color-primary:         #ed1c24;
$color-red:             #ed1c24;
$color-blue:            #28739b;
$color-green:           #00aa3c;
$color-default:         #fff;
$color-default-hover:   #28739b;
$color-gray:            #999;